@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;

  /* primary collor setting */
  --color-primary-50: oklch(0.98 0.01 181);
  --color-primary-100: oklch(0.95 0.05 181);
  --color-primary-200: oklch(0.91 0.09 180);
  --color-primary-300: oklch(0.85 0.13 181);
  --color-primary-400: oklch(0.78 0.13 182);
  --color-primary-500: oklch(0.7 0.12 183);
  --color-primary-600: oklch(0.6 0.1 185);
  --color-primary-700: oklch(0.51 0.09 186);
  --color-primary-800: oklch(0.44 0.07 188);
  --color-primary-900: oklch(0.39 0.06 188);
  --color-primary-950: oklch(0.28 0.04 193);

  /* accent collor setting */
  --color-accent-50: oklch(0.99 0.02 95);
  --color-accent-100: oklch(0.96 0.06 96);
  --color-accent-200: oklch(0.92 0.12 96);
  --color-accent-300: oklch(0.88 0.15 92);
  --color-accent-400: oklch(0.84 0.16 84);
  --color-accent-500: oklch(0.77 0.16 70);
  --color-accent-600: oklch(0.67 0.16 58);
  --color-accent-700: oklch(0.56 0.15 49);
  --color-accent-800: oklch(0.47 0.12 46);
  --color-accent-900: oklch(0.41 0.11 46);
  --color-accent-950: oklch(0.28 0.07 46);

  --color-button-primary: white;
  --color-button-accent: oklch(0.27 0 0);
}

body {
  font-family: 'Inter', sans-serif;
}
